/* $Id: zen.css,v 1.14.2.6 2009/11/05 11:03:32 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0 auto;
    padding: 10px;
  }

  #page
  {
  }

  #page-inner
  {
margin:	0 auto;
width:	760px;
  }

/** header **/
  #header
  { 
margin:	0 auto;
width:	760px;
text-align: center;
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {/*display:none;*/
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-primary-links /* "Primary links" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {	
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {   
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
 /* .form-item,  Wrapper for a form element (or group of form elements) and its label 
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }*/

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
	/*display: inline;
    font-weight: none;
	color:#888;*/
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
   /* display: inline;
    font-weight: normal;*/
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
	/*display:none;*/
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
	/*display:inline;*/
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  
  .field-type-nodereference .field-label-inline-first {
display:none;
}

  .field-type-nodereference .views-field{
padding-right:10px;
  }
  
  
  
  /*************custom mods**************/
 
/*div.messages{display:none;}
.section-node div.tabs .secondary {display:none;}*/
  
  div#page-inner{border:1px solid #eee;}
  div#header{padding:0;}
  div#sidebar-left{margin-left:-1px;}
  div#content-header{margin-left:13px;}
  
  #page{font-size:0.6em;}
  
  .node-unpublished div.unpublished {display:none;}
  
  .field-field-data-review-level{display:none;}
  
  /*front pages*/
  div#sidebar-left-inner {margin:0;}
  div#sidebar-left-inner div.block h2{font-size:1em; font-weight:normal; background-color:#eee;padding:1px 3px;}
  div#sidebar-left-inner div.block {border: 1px solid #eee;}
  div#sidebar-left-inner div.content{padding:3px;}
  
  /*breadcrumbs*/
  
  .breadcrumb {background-color:#eee;margin:0;padding-left:3px;padding-top:2px;height:13px;}
  
  /*login block*/

#block-user-0 div{margin-left: auto;margin-right: auto;text-align:center; background-color:#eee;}
#block-user-0 h2 {display:none;}
#block-user-0 .form-item {display:inline;}
#block-user-0 label {display:inline;}
#block-user-0 input {display:inline;font-size:1em;margin-right:10px;}
#block-user-0 .item-list {display:inline;}
#block-user-0 .item-list ul{display:inline;}
#block-user-0 .item-list li{display:inline;padding: 0 10px;}
 
 /*user navigation block*/

 #block-user-1 div{text-align:right; background-color:#eee; height:13px; padding-top:1px;padding-bottom:1px}
 #block-user-1 h2 {display:inline; font-size:1em;}
  #block-user-1 .content {display:inline;}
  #block-user-1 .content ul{display:inline;}
  #block-user-1 .content li{display:inline;padding: 0 10px;}
  
  /*title menu*/
  #block-menu-menu-title{border-bottom:1px solid #eee;margin:0;padding-bottom:1.3em;}
  #block-menu-menu-title h2{font-size:2em;text-transform: uppercase; letter-spacing:.1em; font-family:sans-serif;font-weight:normal;}
  #block-menu-menu-title .content{margin-top:3px;}
  #block-menu-menu-title ul{display:inline;padding:0;}
  #block-menu-menu-title li{display:inline; padding-right:30px;padding-left:30px;font-weight:bold;}
  #block-menu-menu-title a.active{color:blue;}
  
  /*footer*/
  #footer{padding-top:30px;padding-right:10px;text-align:right;font-size:.9em; color:#aaa;}
   

   /*revisions pending block*/
   #block-views-Main_Field_Pending-block_1 {border:2px solid red;}
   #block-views-Main_Field_Pending-block_1 .views-field-field-back-ref-nid div {text-align:right;}
  #block-views-Main_Field_Pending-block_1 .views-field-field-back-ref-nid label {display:none;}
  #block-views-Main_Field_Pending-block_1 .views-field-field-back-ref-nid .field-label {display:none;}
   #block-views-Main_Field_Pending-block_1 .views-field-field-back-ref-nid h2 {font-size:1em;font-weight:normal;}
   #block-views-Main_Field_Pending-block_1 .views-field-field-back-ref-nid {background:#eee;border-bottom:1px solid #ddd;}
   
   /*field-type menu in property record pages*/
   #field-type-menu{margin-right:-3px; border:1px solid #aaa;}
   #field-type-menu td{background-color:#fff;text-align:center;width:100px;padding:3px 18px;border:1px solid #eee;}
   #field-type-menu td:hover{background-color:#eee}
   #field-type-menu td.active a{color:#aaa;}
   
   
   /*gmaps lable*/
   div.gmapnodelabel .title {font-size:1em;}
   div.gmapnodelabel .field-content {display:inline;}
   div.gmapnodelabel .views-field-field-current-name-value label{display:none;}
   div.gmapnodelabel .views-field-field-current-use-primary-ref-nid label {display:none;}
   div.gmapnodelabel .field-field-status-ref .field-label {display:none;}
   
   /*browse page*/
   div.view-Browse div {display:inline;}
   div.view-Browse .meta {display:none;}
      div.view-Browse label {display:none;}
	  div.view-Browse .field-label {display:none;}
	  div.view-Browse .field-label-inline-first {display:none;}
	  div.view-Browse h2 {font-size: 1em; font-weight:normal;}
	  div.view-Browse .node-inner {padding-bottom:5px; display:block; border: 1px solid #eee;}
	  div.view-Browse .field-field-prop-type .field-item, div.view-Browse span.field-content {display:block}
	  div.view-Browse .views-field-field-current-name-value .field-content {font-weight:bold; float:right;position:relative;bottom:12px;}
  
  /*pager under my published contribtions*/
  .item-list .pager {margin:0; padding:0;}
  .item-list .pager li {padding:0;}
  .pager a {padding:0;}
  
    table.views-table td.views-field-title							{width:250px;}
	 table.views-table td.views-field-tid								{width:70px; font-size: 8pt; text-align: center;}
	 table.views-table td.views-field-edit-node	 					{width:30px; text-align: right;}
	table.views-table td.views-field-name							{width:40px;}
     table.views-table th.views-field-field-constr-date-value 			{width:200px;}
	 table.views-table th.views-field-field-tcad-id-value				{width:200px;}
	 table.views-table th.views-field-field-geog-lgl-descrp-value 		{width:200px;}
	 
	/*field revisions view*/
	#content-bottom {padding:3px;margin:0 -1px 0 13px;}
	div.view-test-revisions-field div.views-row {border: 1px solid #eee; margin-bottom:5px;}
	div.node-type-property h3 {display:none;}
	div#content-header h1.title{display:none;}
	table.data_title td.name{color:#888; width:250px;vertical-align: top; padding-right:7px;}
	table.data_title td.data{width: 225px;vertical-align: top;}
	table.data_title td.tid{color:#888;width:70px;text-align: right;vertical-align: top;}
	div.field-content td.data-title, span.field-content td.data-title{color:#888; width:250px;vertical-align: top; padding-right:5px; text-align:right;}
	span.views-field-title table {background:#eee;}
	
	div.views-field-view-node{margin-top:10px;}
	 div.node-inner div.meta {text-align: right;}
	 div.accordion-active {padding-top:10px;}
	 div.accordion-content td.data-title {background:white; color:#888; vertical-align: top; width:245px; text-align:right; padding-right:10px;}
	 div.accordion-content td.data-data { vertical-align: top;}
	 div.accordion-header-active td.data {font-style:italic;}
	 div.views-field-view-node, div.views-field-edit-node {text-align:right;}
	 div.field-label {display:inline; color:#ddd; font-weight:none;}
	 div.field-items {display:inline;}
	 div.meta{display:none;}
	 /*div.messages{display:none;}*/
	 
	 
	 div.view-test-revisions-field div.views-row {border: 1px solid #eee; margin-bottom:5px;}
	 
	 
	 /*edit form*/
	 /*div.node-form select, div.node-form textarea, div.node-form input{font-size:11px;}*/
	 /*div.node-form label{font-weight:none;vertical-align:top;padding:0px;padding-bottom:4px; margin-left:130px;}*/
	 
	 .section-node-edit .form-item label {display:inline;}
	 
	 .node-form .form-text{display:inline;}
	 div.node-form textarea{width:289px;}
	 div.node-form {border:2px solid red;padding:5px;}

	 /*div#edit-field-sources-0-value-wrapper {margin-left:203px;}*/
	 div#edit-field-sources-0-value-1-wrapper {margin-left:203px;}
	 div#edit-field-sources-0-value-wrapper label{margin:0 5px 5px 0;}
	  div#edit-field-sources-0-value-1-wrapper label{margin:0 5px 5px 0;}
	 div#edit-field-sources-0-value-wrapper textarea{font-size:1em;}
	 div#edit-field-sources-0-value-1-wrapper textarea{font-size:1em;}
	 
	 div#edit-taxonomy-1-wrapper{margin-left:134px;}
	 div#edit-field-back-ref-nid-nid-wrapper{display:block;margin-left:152px;}
	 div#edit-field-back-ref-nid-nid-wrapper label{margin:0;}
	 div#edit-status-wrapper{text-align:right;}
	 div#edit-field-data-review-level-value--wrapper label {margin:0;}
	 div#edit-field-data-review-level-value-2-wrapper label {margin:0;}
	 input#edit-preview, input#edit-delete{display:none;}
	 div.node-form input.form-submit{margin-left:490px;}
	 
	  div.node-form div.authored{text-align:right;margin-left:190x;}
	  div.node-form div.authored legend {display:none;}
	  div.node-form div.options legend {display:none;}
	  div.node-form div.authored fieldset {border:none;}
	  div.node-form div.options fieldset {border:none;}
	  div.node-form div.authored input{width:283px;}
	  div.node-form div.options {margin-left:190px;}
	  
	 .section-node div.tabs{margin: 0 0 2px;padding:3px;}
	 .section-node-edit div.tabs{}
	 
	 
	 
	/*custom publish/delete tabs*/
	/*first, hide old tab bar div.tabs ul.secondary{display:none;}*/
	
	#publish_tab, #delete_tab {
border:1px solid black;
display:inline;
margin-right:5px;
padding:4px;
	}
	
		#publish_tab a, #delete_tab a{   
color:#000000;
display:inline;
font-weight:bold;
text-decoration:none;}

#publish_tab:hover, #delete_tab:hover{   
background:none repeat scroll 0 0 #EEEEEE;
}
	
	     /*edit all tab*/
 div#block-views-Edit_all_tab-block_1{
 border:1px solid black;
display:block;
height:20px;
line-height:20px;
margin-top:5px;
padding:0;
width:85px;
  }
   div#block-views-Edit_all_tab-block_1 .field-content a{
   background-color:white;
border-width:0;
color:#000000;
display:block;
font-weight:bold;
padding:0 5px;
text-decoration:none;
   }
      div#block-views-Edit_all_tab-block_1 .field-content a:hover{
background:none repeat scroll 0 0 #EEEEEE;
   }
   
   /*comments*/
   form#comment-form ul.tips{display:none;}
   form#comment-form p{display:none}
   form#comment-form textarea{height:70px;}
   .comment-inner {border:1px solid #eee;}
   .comment-inner .submitted {background-color:#eee;padding:3px;}
   .comment-inner .content {padding:3px;}
     .comment-inner ul.links{margin:0; }
   .comment-inner .links li{margin:0; border:1px solid #eee;}
   #block-views-comments-block_1 h2{font-size:1em;}
   #block-commentblock-comment_form h2{font-size:1em;}
   form#comment-form div label,  form#comment-form div a {display:none;}
   
   /*editall page*/
   div.view-Editall div.views-row div {position:relative;bottom:4px;}
  .editview-field .form-item label, .editview-field .form-item .description, .editview-field fieldset legend {display:inline;}
  td.editview-field{float:left;}
  td.editview-field div {display:inline;}
  div.view-Editall div.views-row{border:2px solid #eee; margin:3px; padding: 3px; padding-bottom: 10px;}
  div.view-Editall div.views-row span {display:inline; position:relative;right:1px;top:}
  div#editview-node-form-new{display:none;}
  div.view-Editall span .form-submit{display:none;}
  div.view-Editall .form-submit{float:right; position:relative;top:111px;}
  .editview-row tr,  .editview-row tbody, .editview-row th  {border:0;margin:0;} 
  
  /* Legal Description edit
     div#edit-field-geog-lgl-descrp-0-value-wrapper input{width:339px; font-size:1em;max-width:none;}
  	 div#edit-field-geog-lgl-descrp-0-value-1-wrapper input{width:339px; font-size:1em;max-width:none;}
	 div#edit-field-geog-lgl-descrp-0-value-wrapper label{background:#eee;padding-right:98px;padding-bottom:5px; margin:0; display:inline;}
	 div#edit-field-geog-lgl-descrp-0-value-1-wrapper label{background:#eee;padding-right:98px;padding-bottom:5px; margin:0; display:inline;}
	 div#edit-field-geog-lgl-descrp-0-value-wrapper{display:block;}
	 div#edit-field-geog-lgl-descrp-0-value-1-wrapper{display:block;}
	 */
	/*.resizable-textarea {display:inline;}
	.resizable-textarea .grippie {
		height: 9px;
		overflow: hidden;
		background: #eee url(../../misc/grippie.png) no-repeat center 2px;
		border: 1px solid #ddd;
		border-top-width: 0;
		cursor: s-resize;
		display:none;}
  
	html.js .resizable-textarea textarea {
		margin-bottom: 0;
		width: 30%;
		display: inline;
  }*/
  
  
  /*LHD form*/
  div.node-type-webform div.content p{font-size:1.5em;font-weight:bold;}
#webform-component-property_reference {color:#aaa; margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;}
#webform-component-property_reference label {display:inline; width:200px;}
#webform-component-property_reference input {display:inline; width:75px;color:#aaa;}

.webform-component-textfield input {width:275px;}
.webform-component-textarea .resizable-textarea {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;}
.webform-component-textarea .resizable-textarea textarea {height:50px;}
   
  #webform-component-source_for_tcad_id{}
  #webform-component-source_for_area_of_lot{}
  #webform-component-source_for_legal_description{}
  #webform-component-source_for_original_location{}
  
  .webform-client-form fieldset {margin: 10px;}

  
  /*photos block*/
  .view-Photo-Block  div {display:inline;}
  .view-Photo-Block .views-field-field-back-ref-nid {display:block;}
