@CHARSET "ISO-8859-1";

.webform-progress-title, .webform-progress-bar, .webform-progress-percentage {
  float: left;
}

.webform-progress-bar-filled {
  height: 1em;
  background-color: #000088;
}

.webform-progress-bar {
  border: 1px solid #000000;
  width: 40px;
  height: 1em;
  margin:0.35em 5px 0;
}
